.client-container {
  display: grid;
  justify-items: center;
  background: white;
  padding-bottom: 160px;
  h2 {
    padding-bottom: 50px;
    color: black;
  }
  .logo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1024px;
    padding: 0 48px;
    img {
      height: 62px;
      padding: 0 20px 20px 20px;
    }
  }
}
