.client-wrapper {
  display: grid;
  grid-template-rows: 300px;
  justify-items: center;
  align-items: start;
  background: white;

  .client-container {
    display: grid;
    grid-template-columns: 600px;
    justify-items: center;
    color: black;
    h2 {
      padding-bottom: 50px;
    }
    img {
      max-height: 42px;
    }
    // .logo-container {
    //   display: grid;
    //   justify-items: center;
    // }
  }
}
