$primary-color: #000;
$cta-main: #3ec28f;
$cta-hover: #24a16e;
$text-color: #fff;
$secondary-color: yellow;
$show-home-image: true;
$home-image-url: url("../assets/background.jpg");
$background-opacity: 0.9;

// Set text color dynmaically

@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}
@mixin easeOut {
  transition: all 170ms ease-out;
}
// @mixin background {
//   @if $show-home-image {
//     & {
//       // background: $primary-color;
//       // background-attachment: fixed;
//       // background-size: cover;
//     }
//     &:after {
//       content: "";
//       position: absolute;
//       top: 0;
//       right: 0;
//       width: 100%;
//       min-height: calc(80vh - 60px);
//       background: green;
//       z-index: -1;
//     }
//   }
// }

// Media Query Mixins

@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}
@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin mediaLg {
  // @media screen and (max-width: 1170px) {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}
@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
