.gray-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 700px;
  align-items: center;
  justify-items: center;
  background: #2c2c2c;

  .text {
    ul {
      list-style: none;
    }
  }
  img {
    // justify-self: end;
    // align-self: center;
    width: 300px;
    // max-height: 80%;
  }
}
