.partner-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 500px;
  justify-items: center;
  align-items: center;
  background: white;
  padding: 10px;

  .partner-container {
    display: grid;
    grid-template-columns: minmax(300px, 600px);
    justify-items: center;
    color: black;
    p {
      text-align: center;
      padding: 50px 0;
    }
    img {
      max-width: 100%;
    }
  }
}
