.purple-container {
  display: grid;
  grid-template-rows: 100px 1fr;
  // grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  height: 100vh;
  width: 100%;
  background: #8332fb;
  // per scrolling make the arrow disappear
  i {
    padding: 20px;
    line-height: 0;
    font-size: 60px;
    transition: 200ms;
    &:hover {
      cursor: pointer;
      color: darkgrey;
    }
  }
  .two-up-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    img {
      align-self: end;
      max-height: 600px;
    }
  }
  .text-container {
    padding-left: 80px;
    display: grid;
    grid-auto-rows: auto;
    ul {
      list-style: none;
    }
  }
}
