@import "_config";
@import "_menu";
@import "_hero";
@import "_purple";
@import "_footer";
@import "_black";
@import "_gray";
@import "_purpletwo";
@import "partners";
@import "clients";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  // @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  // height: 100%;
  font-size: 1em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  // line-height: 1.5;
  margin: 0;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  &.lg-heading {
    font-size: 1.5rem;
    // margin-bottom: 2rem;
  }
  // &.sm-heading {
  // margin-bottom: 2rem;
  // padding: 0.2rem 1rem;
  // background: rgba(lighten($primary-color, 2), 0.5);
  // }
}
a {
  color: $text-color;
  text-decoration: none;
}

@import "_layout";
// move this down to the bottom because we want these media queries to run AFTER everything has loaded (optimal?)
