@import "_config";
@import "_menu";
@import "_hero";
@import "_feature_blade";
@import "_footer";
@import "partners";
@import "clients";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $primary-color;
  color: set-text-color($primary-color);
  font-size: 0.9em;
  font-family: "Avenir", sans-serif;
  letter-spacing: 0.1ch;
  font-weight: 100;
  margin: 0;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}
// p {

// }

a {
  color: $text-color;
  text-decoration: none;
}

@import "_layout";
